<div class="row">
  <div class="input-field col s3">
    <input id="cpf" type="text" class="validate">
    <label for="cpf">CPF</label>
  </div>
  <div class="input-field col s3">
    <input id="rg" type="text" class="validate">
    <label for="rg">RG</label>
  </div>
  <div class="input-field col s1">
    <input id="expedidor" type="text" class="validate">
    <label for="expedidor">Org. Expedidor</label>
  </div>   
</div>

<div class="row">
  <div class="input-field col s3">
    <input id="nome" type="text" class="validate">
    <label for="nome">Nome</label>
  </div>
  <div class="input-field col s4">
    <input id="sobrenome" type="text" class="validate">
    <label for="sobrenome">Sobrenome</label>
  </div>
</div>

<div class="row">
  <div class="input-field col s3">
    <input id="tel" type="text" class="validate">
    <label for="tel">Telefone</label>
  </div>
  <div class="input-field col s3">
    <input id="cel1" type="text" class="validate">
    <label for="cel1">Celular</label>
  </div>  
</div>

<div class="row">
  <div class="input-field col s3">
    <input id="logradouro" type="text" class="validate">
    <label for="logradouro">Logradouro</label>
  </div>
  <div class="input-field col s1">
    <input id="numero" type="text" class="validate">
    <label for="numero">Número</label>
  </div>
  <div class="input-field col s3">
    <input id="complemento" type="text" class="validate">
    <label for="complemento">Complemento</label>
  </div>
</div>

<div class="row">
  <div class="input-field col s2">
    <input id="bairro" type="text" class="validate">
    <label for="bairro">Bairro</label>
  </div>
  <div class="input-field col s2">
    <input id="cidade" type="text" class="validate">
    <label for="cidade">Cidade</label>
  </div>
  <div class="input-field col s1">
    <input id="uf" type="text" class="validate">
    <label for="uf">UF</label>
  </div><div class="input-field col s2">
    <input id="cep" type="text" class="validate">
    <label for="cep">CEP</label>
  </div>
</div>

<div class="divider"></div>

<div class="row">
  <div class="input-field col s2">
    <input id="marca" type="text" class="validate">
    <label for="marca">Marca</label>
  </div>
  <div class="input-field col s2">
    <input id="modelo" type="text" class="validate">
    <label for="modelo">Modelo</label>
  </div>
  <div class="input-field col s1">
    <input id="serial" type="text" class="validate">
    <label for="serial">Serial</label>
  </div><div class="input-field col s2">
    <input id="codbarras" type="text" class="validate">
    <label for="codbarras">Cod. Barras</label>
  </div>
</div>

<div class="row">
  <div class="input-field col s7">
    <textarea id="condicao" class="materialize-textarea"></textarea>
    <label for="condicao">Condição do Aparelho</label>
  </div>
</div>

<div class="row">
  <div class="input-field col s7">
    <textarea id="obs" class="materialize-textarea"></textarea>
    <label for="obs">Observações</label>
  </div>
</div>

<a class="waves-effect waves-light btn-large blue"><i class="material-icons right">save</i>Salvar</a>